*{
    margin : 0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
.heading{
    text-align:center;
    font-family: Roboto;
    font-size:50px;
    color:white;
    text: shadow 1px;
}
::selection{
    color:#fff;
}
.select-box{
    background-color: #ffff;
    padding: 20px 25px 25px;
    border-radius: 0px;
    margin:35px;
}
.select-box.hide{
    opacity: 0;
    pointer-events: none;
}
.select-box.tittle{
    font-size:22px;
    font-weight:500;
    margin:20px 0;

}
.select-box header{
    font-size:30px;
    font-weight:600;
    padding-bottom:10px;
    border-bottom:1px solid;
}
.select-box.options{
    display:flex;
    width:100%
}
.select-box,.play-board,.result-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transition:all 0.3s ease ;
}
.option button{
    width:100%;
    font-size:20px;
    font-weight:500;
    padding:10px 0;
    border:none;
    background: white;
    color:#fff;
    outline: none;
    cursor:pointer;
    transition:all 0.3s ease;
}
.option button:hover,
.btn button:hover{
    transform:scale(0.96);
}
.playerX{
    margin-right: 5px;

}
.playerO{
    margin-left: 5px;
    
}
.select-box.credit{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}
.select-box.credit a{
    color:white;
    text-decoration: underline;
}
.select-box.credit a:hover{
    text-decoration: underline;
}
.play-board{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%)scale(0.9);
}
.play-board.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%)scale(1);
}
.play-board.details{
    padding: 7px;
    border-radius:5px;
    background:#fffd;
}
.play-board.players{
    width:100%;
    display:flex;
    position:relative;
    justify-content: space-between;
}
.players span{
    position:relative;
    z-index: 2;
    color:#ffff;
    font-size:20px;
    font-weight:500;
    padding:10px 0;
    width:100%;
    text-align:center;
    cursor:default;
    user-select:none;
    transition:all 0.3 ease;
}
.players.active span;last-child{
    color:#56baed;
}
.players span:first-child{
    color:#ffff;

}
.players.slider{
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:10%;
    background: #ffff;
    transition:all 0.3s ease;
}
.players.active.slider{
    lest:50%;
}
.players.active span:first-child{
    color:#56baed;
}
.players.active span:nth-child{
    color:#ffff;
}
.play-area{
    margin-top:20px;
}
.play-area section{
    display:flex;
    margin-bottom:1px;
}
.play-area section span{
    
}