*{
    margin : 0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
.heading{
    text-align:center;
    font-family: Roboto;
    font-size:50px;
    color:white;
    text: shadow 1px;
}
::selection{
    color:#fff;
}
